{% extends 'base.html.twig' %}

{% block title %}Hello ConverterController!{% endblock %}

{% block body %}
    <div class="container">
        <main>
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="/images/convert.png" alt="" width="100"
                     height=100>
                <h2>Конвертер валют</h2>
                <p class="lead">Конвертируйте ваши сбережения</p>
            </div>

            <div class="row g-5">
               <div class="col-6">

               </div>
                <div class="col-6">

                </div>
            </div>
        </main>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">© 2017–2021 Company Name</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </footer>
    </div>
{% endblock %}
